.nav{
    width: 40%;
} 

.nav-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-block-item {
    list-style-type: none;
}

.nav-block-item-link {
    color: rgb(12, 12, 12);
    font-family: Inter;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
}